header {
    background-color: rgb(255, 0, 85);
}
ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
li{
    width: 25%;
}
section {
    background-color: beige;
}

img {
    width: 100%;
    height: auto;
    filter: sepia(100);
}

a:hover img {
    filter: saturate(1);
}